{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/log_reg.css' %}">{% endblock %}

{% block title %} Вхiд {% endblock %}

{% block content %}
<div class="register-page">
    <div class="form">
    <form class="register-form" method="POST" action="{% url 'auth_sys:login' %}">
        {% csrf_token %}
        <h3 class="register-title">Вхiд</h3>
        <h5>{{form.username.label}}</h5>
        {{form.username}}
        <h5>{{form.password.label}}</h5>
        {{form.password}}
        <button type="submit"> Войти </button>
        <p class="message"> Немає акаунта? <a href="{% url 'auth_sys:register' %}"> Зареєструватись</a></p>
    </form>
    </div>
</div>
{% endblock %}