{% load static %}
<link rel="stylesheet" href="{% static 'css/partials/navbar.css' %}">

<nav class="nav">
    <div class="navbar">
        <div class="left-side">
            <a class="logo" href="{% url 'forum:home' %}">
                <img src="{% static 'img/icon.png' %}" alt="logo">
                <p>Forum VBV</p>
            </a>
            <div class="links">
            </div>
        </div>
        <div class="search">
            <form action="{% url 'forum:search' %}" method="get" class="search-form">
            <input type="text" name="q" placeholder="Пошук..." required autocomplete="off">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
        </div>
        <div class="user-links">
                {% if user.is_authenticated %}
                <a href="{% url 'forum:profile' %}" class="menu-user-item">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" class="user-avatar-img">
                    {% else %}
                        <div class="user-avatar-letter">
                            {{ user.get_avatar_char }}
                        </div>
                    {% endif %}
                    <span>{{user.username}}</span>
                </a>
                {% else %}
                <a href="{% url 'auth_sys:login' %}" class="menu-item">
                    <i class="bi bi-person"></i>
                    <span>Вхiд</span>
                </a>
                <a href="{% url 'auth_sys:register' %}" class="menu-item">
                    <i class="bi bi-person-plus"></i>
                    <span>Реєстрація</span>
                </a>
                {% endif %}
            </div>
    </div>
</nav>