{% extends 'base.html'%}
{% load static %}
{% block title %}Forum Home Page{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'forum:home' %}">Головна</a></li>
    <li class="breadcrumb-item active">{{ current_theme.title }}</li>
{% endblock %}
{% block thread_add %}
    {% if user.is_authenticated %}
        <a href="{% url 'forum:thread_create' current_theme.pk %}" class="add-thread-btn">
            <i class="bi bi-plus-lg"></i> Додати тему
        </a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="themes">
        {% for thread in threads %}
            <a href="{% url 'forum:thread_details' thread.pk %}" class="theme-text">
                <div class="theme">
                    <h3>{{ thread.title }}</h3>
                    <p>Автор: {{ thread.author }} | Створено: {{ thread.created_at|date:"d.m.y" }}</p>
                    <p>{{ thread.content|truncatechars:100 }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}