{% extends 'base.html' %}
{% load static %}
{% block title %} {{ thread.title|truncatechars:20 }} - Forum VBV {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/theme_details.css' %}">{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'forum:home' %}">Головна</a></li>
    <li class="breadcrumb-item"><a href="{% url 'forum:threads_list' thread.theme.pk %}">{{ thread.theme.title }}</a></li>
    <li class="breadcrumb-item active">{{ thread.title|truncatechars:30 }}</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="theme_info">
        <p class="title">{{thread.title}}</p>
        <p class="description">{{thread.description}}</p>
        <p class="content">{{thread.content}}</p>
        <p class="author">Автор: {{thread.author.username}}</p>
    </div>
</div>

<div class="container comments-section">
    <h2 class="section-title">Сообщения ({{ posts.count }})</h2>

    {% for post in posts %}
    <div class="forum-post">
        <div class="post-sidebar">
            <div class="user-avatar">
                {% if post.author.avatar %}
                    <img src="{{ post.author.avatar.url }}" class="avatar-img">
                {% else %}
                    <div class="avatar-letter">
                        {{ post.author.get_avatar_char }}
                    </div>
                {% endif %}
            </div>
            <p class="post-author">{{ post.author.username }}</p>
        </div>
        <div class="post-main">
            <div class="post-header">
                <div>
                    <span class="post-date">{{ post.created_at|date:"d.m.Y H:i" }}</span>
                </div>
                <div>
                    {% if user == post.author %}
                        <form action="{% url 'forum:post_delete' post.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-post-btn" 
                                    onclick="return confirm('Ви впевнені, що хочете видалити це повідомлення?')">
                                <i class="bi bi-trash3"></i> </button>
                        </form>
                    {% endif %}
                    <span class="post-number">#{{ forloop.counter }}</span>
                </div>
            </div>
            <div class="post-content">
                {{ post.content|linebreaks }}
            </div>
        </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="reply-container">
        <form method="post" class="reply-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_content">Ваш коментар:</label>
                <textarea name="content" id="id_content" placeholder="..." required></textarea>
            </div>
            <button type="submit" class="submit-button">Надіслати повідомлення</button>
        </form>
    </div>
    {% else %}
    <div class="auth-notice">
        <p>Щоб залишити коментар, <a class="login_button" href="{% url 'auth_sys:login' %}">Увійдіть</a>.</p>
    </div>
    {% endif %}
</div>
{% endblock %}