body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
}
a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theme {
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}